.exclaim .reveal .state-background {
  background: green;
} 

.exclaim .reveal div {
  color: white;
  font-family: 'Lacquer';
}

.exclaim .reveal code {
  color: red;
}

.reveal section del {
  color: red;
}